<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor
          patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
          type="DynamicDatasource.Pipeline.RegisterCustomXmlBasedRenderingParser, DynamicDatasource"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>

